<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/cucumber"
                contextRoot="webapp/cucumber">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/cucumber-admin"
                contextRoot="webapp/cucumber-admin">
        </webapp>
    </extension>
</plugin>
