<div id="cucumber-edit-panel" class="sbb-ui">
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/petrel.css?bundle={BUNDLE}'>
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/highlightjs.css?bundle={BUNDLE}'>
    <link rel='stylesheet' href='/polarion/cucumber/ui/generic/css/control-tokens.css?bundle={BUNDLE}'>
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/cucumber.css?bundle={BUNDLE}'
          onload='import("/polarion/cucumber/ui/js/cucumber.js")
          .then(module => module.initPanel())
          .catch(console.error);'>

    <div class='editor-buttons'>
        <button type='button' id='edit-feature-button'>
            <span class='sbb-icon-edit' role='img' aria-label='Edit'></span>Edit
        </button>
        <button type='button' class='divider'>&nbsp;</button>
        <button type='button' id='validate-feature-button' disabled>
            <img class='append-build-number' alt='' src='/polarion/icons/default/enums/req_status_reviewed.gif'/>Validate
        </button>
        <button type='button' id='save-feature-button' data-project-id='{PROJECT_ID}' data-work-item-id='{WORK_ITEM_ID}' data-filename='{FILENAME}' data-validate='{VALIDATE}' disabled>
            <span class='sbb-icon-save' role='img' aria-label='Save'></span>Save
        </button>
        <button type='button' id='cancel-edit-feature-button' disabled>
            <span class='sbb-icon-cancel' role='img' aria-label='Cancel'></span>Cancel
        </button>
    </div>
    <div style='margin-bottom: .5em;'>
        <span id='feature-validation-result'></span>
    </div>

    <div class='editor-wrapper'>
        <div id='cucumberFeatureCodeEditor'></div>
    </div>
    <div id='cucumberFeatureCodeEditorOriginalContent' style='display: none;'>{CONTENT}</div>
</div>
