<div id="cucumber-edit-panel">
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/petrel.css?bundle={BUNDLE}'>
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/highlightjs.css?bundle={BUNDLE}'>
    <link rel='stylesheet' href='/polarion/cucumber/ui/css/cucumber.css?bundle={BUNDLE}'
          onload='import("/polarion/cucumber/ui/js/cucumber.js")
          .then(module => module.initPanel())
          .catch(console.error);'>

    <div class='editor-buttons'>
        <button type='button' id='edit-feature-button'>
            <img class='append-build-number' alt='' src='/polarion/ria/images/actions/edit.gif'>Edit
        </button>
        <button type='button' class='divider'>&nbsp;</button>
        <button type='button' id='validate-feature-button' disabled>
            <img class='append-build-number' alt='' src='/polarion/icons/default/enums/req_status_reviewed.gif'/>Validate
        </button>
        <button type='button' id='save-feature-button' data-project-id='{PROJECT_ID}' data-work-item-id='{WORK_ITEM_ID}' data-filename='{FILENAME}' data-validate='{VALIDATE}' disabled>
            <img class='append-build-number' alt='' src='/polarion/ria/images/actions/save.gif'>Save
        </button>
        <button type='button' id='cancel-edit-feature-button' disabled>
            <img class='append-build-number' alt='' src='/polarion/ria/images/actions/cancel.gif'>Cancel
        </button>
    </div>
    <div style='margin-bottom: .5em;'>
        <span id='feature-validation-result'></span>
    </div>

    <div class='editor-wrapper'>
        <div id='cucumberFeatureCodeEditor'></div>
    </div>
    <div id='cucumberFeatureCodeEditorOriginalContent' style='display: none;'>{CONTENT}</div>
</div>
